## Imports

In [45]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

dataset = pd.read_csv("../Dataset/listings.csv")
dataset

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,8373729,https://www.airbnb.com/rooms/8373729,20160906204935,2016-09-07,Big cozy room near T,5 min walking to Orange Line subway with 2 sto...,NaN,5 min walking to Orange Line subway with 2 sto...,none,NaN,...,9.0,f,NaN,NaN,t,strict,f,f,8,0.34
3581,14844274,https://www.airbnb.com/rooms/14844274,20160906204935,2016-09-07,BU Apartment DexterPark Bright room,"Most popular apartment in BU, best located in ...",Best location in BU,"Most popular apartment in BU, best located in ...",none,NaN,...,NaN,f,NaN,NaN,f,strict,f,f,2,NaN
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
3583,14603878,https://www.airbnb.com/rooms/14603878,20160906204935,2016-09-07,Great Location; Train and Restaurants,"My place is close to Taco Loco Mexican Grill, ...",NaN,"My place is close to Taco Loco Mexican Grill, ...",none,NaN,...,7.0,f,NaN,NaN,f,strict,f,f,1,2.00
3584,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,f,NaN,NaN,t,flexible,f,f,3,NaN

## Remove unwanted columns

In [46]:
# remove duplicates
dataset.drop_duplicates(inplace=True)

In [47]:
columns_to_drop = ['id','listing_url', 'scrape_id', 'last_scraped', 'name', 'summary','space', 'description', 'experiences_offered','neighborhood_overview','notes', 'transit', 'access', 'interaction', 'house_rules','thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url','host_id', 'host_url', 'host_name', 'host_since', 'host_location','host_about', 'host_response_time', 'host_response_rate','host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url','host_picture_url', 'host_neighbourhood', 'host_listings_count','host_total_listings_count', 'host_verifications','host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood_cleansed','neighbourhood_group_cleansed','country','country_code','is_location_exact','latitude','longitude','city','state','zipcode','market','smart_location','weekly_price', 'monthly_price', 'security_deposit','cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights','maximum_nights', 'calendar_updated', 'has_availability','availability_30', 'availability_60', 'availability_90','availability_365', 'calendar_last_scraped', 'number_of_reviews','first_review', 'last_review','review_scores_accuracy', 'review_scores_cleanliness','review_scores_checkin', 'review_scores_communication','review_scores_location', 'review_scores_value', 'requires_license','license', 'jurisdiction_names', 'instant_bookable','cancellation_policy', 'require_guest_profile_picture','require_guest_phone_verification', 'calculated_host_listings_count','reviews_per_month','review_scores_rating','amenities'] 

dataset.drop(columns_to_drop, axis = 1, inplace = True)
dataset

,neighbourhood,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,square_feet,price
0,Roslindale,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,NaN,$250.00
1,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,$65.00
2,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,$65.00
3,NaN,House,Private room,4,1.0,1.0,2.0,Real Bed,NaN,$75.00
4,Roslindale,House,Private room,2,1.5,1.0,2.0,Real Bed,NaN,$79.00
...,...,...,...,...,...,...,...,...,...,...
3580,Somerville,Apartment,Private room,3,1.0,1.0,1.0,Real Bed,NaN,$69.00
3581,NaN,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,$150.00
3582,NaN,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,NaN,$198.00
3583,Somerville,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,$65.00
3584,Somerville,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,$65.00

## Handling null values

In [48]:
# no.of null values before handling null values
dataset.isnull().sum()

neighbourhood     543
property_type       3
room_type           0
accommodates        0
bathrooms          14
bedrooms           10
beds                9
bed_type            0
square_feet      3529
price               0
dtype: int64

In [49]:
# drop square_feet column
dataset.drop(['square_feet'],axis=1, inplace=True)

# replace the NaN with 0
dataset['bathrooms'].fillna(0, inplace=True)
dataset['bedrooms'].fillna(0, inplace=True)

# replace the NaN with string Unknown
dataset['property_type'].fillna('Unknown', inplace=True)

# removing rows having null values
dataset = dataset[dataset['neighbourhood'].notna()]

dataset

,neighbourhood,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price
0,Roslindale,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,$250.00
1,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,$65.00
2,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,$65.00
4,Roslindale,House,Private room,2,1.5,1.0,2.0,Real Bed,$79.00
5,Roslindale,Condominium,Private room,2,1.0,1.0,1.0,Real Bed,$75.00
...,...,...,...,...,...,...,...,...,...
3577,Brookline,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,$150.00
3579,Brookline,Condominium,Private room,2,1.0,1.0,1.0,Real Bed,$100.00
3580,Somerville,Apartment,Private room,3,1.0,1.0,1.0,Real Bed,$69.00
3583,Somerville,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,$65.00
3584,Somerville,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,$65.00

## Processing the price column

In [50]:
def removeDollar(price):
    # remove $ and comma from price, ignore na values so that we wont get any errors.
    return str(price).replace('$','').replace(',','')
    
# applying function to column
dataset['price'] = dataset['price'].apply(removeDollar)
# make float as the data type of column
dataset['price'] = dataset['price'].astype(float)
dataset

/var/folders/gf/9f_82frx1p12dxp9553l18x40000gn/T/ipykernel_19428/1734116068.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['price'] = dataset['price'].apply(removeDollar)
/var/folders/gf/9f_82frx1p12dxp9553l18x40000gn/T/ipykernel_19428/1734116068.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['price'] = dataset['price'].astype(float)

,neighbourhood,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price
0,Roslindale,House,Entire home/apt,4,1.5,2.0,3.0,Real Bed,250.0
1,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,65.0
2,Roslindale,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,65.0
4,Roslindale,House,Private room,2,1.5,1.0,2.0,Real Bed,79.0
5,Roslindale,Condominium,Private room,2,1.0,1.0,1.0,Real Bed,75.0
...,...,...,...,...,...,...,...,...,...
3577,Brookline,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,150.0
3579,Brookline,Condominium,Private room,2,1.0,1.0,1.0,Real Bed,100.0
3580,Somerville,Apartment,Private room,3,1.0,1.0,1.0,Real Bed,69.0
3583,Somerville,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,65.0
3584,Somerville,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,65.0

## Convert Categorical data to numeric

In [53]:
def convertToNumeric(dataset):
    le = LabelEncoder()

    dataset['neighbourhood'] = le.fit_transform(dataset['neighbourhood'])
    dataset['property_type'] = le.fit_transform(dataset['property_type'])
    dataset['room_type'] = le.fit_transform(dataset['room_type'])
    dataset['bed_type'] = le.fit_transform(dataset['bed_type'])

    return dataset

dataset = convertToNumeric(dataset)
dataset

/var/folders/gf/9f_82frx1p12dxp9553l18x40000gn/T/ipykernel_19428/2199190366.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['neighbourhood'] = le.fit_transform(dataset['neighbourhood'])
/var/folders/gf/9f_82frx1p12dxp9553l18x40000gn/T/ipykernel_19428/2199190366.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['property_type'] = le.fit_transform(dataset['property_type'])
/var/folders/gf/9f_82frx1p12dxp9553l18x40000gn/T/ipykernel_19428/2199190366.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['room_type'] = le.fit_transform(dataset['room_type'])
/var/folders/gf/9f_82frx1p12dxp9553l18x40000gn/T/ipykernel_19428/2199190366.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bed_type'] = le.fit_transform(dataset['bed_type'])

,neighbourhood,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,price
0,22,7,0,4,1.5,2.0,3.0,4,250.0
1,22,0,1,2,1.0,1.0,1.0,4,65.0
2,22,0,1,2,1.0,1.0,1.0,4,65.0
4,22,7,1,2,1.5,1.0,2.0,4,79.0
5,22,3,1,2,1.0,1.0,1.0,4,75.0
...,...,...,...,...,...,...,...,...,...
3577,3,0,1,2,1.0,1.0,1.0,4,150.0
3579,3,3,1,2,1.0,1.0,1.0,4,100.0
3580,24,0,1,3,1.0,1.0,1.0,4,69.0
3583,24,0,1,2,1.0,1.0,1.0,4,65.0
3584,24,0,1,2,1.0,1.0,1.0,4,65.0